.hero {
    background: url(../../assets/img/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-inner {
    position: absolute;
    top: 50%;
    color: white;
}

.heading {
    font-size: 3rem;
}

.sub-heading {}