.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    z-index: 1;
}

@media(max-width: 700px) {
    .navbar {
        justify-content: center;
        background: #ccc;
    }
    ul {
        flex-direction: column;
        text-align: center;
        width: 100%;
        transition: margin 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    }
}

ul {
    padding: 0 1rem;
    list-style: none;
    display: inline-flex;
    margin-left: auto;
}

a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #222;
}

a:hover {
    background: rgba(238, 238, 238, 0.228);
}

#icon {
    padding-left: 0;
}