<div class="navbar">
    <span class="navbar__link">
        <a routerLink="">Explore.io</a> 
    </span>

    <span class="material-icons-outlined">
        <a id="icon" routerLink="">explore</a> 
    </span>
    <span class="material-icons-outlined ml-auto hideOnDesktop" (click)="burgerButtonClickedHandler()">
        <a >menu</a>
    </span>
    <ul [ngStyle]="toggleNavbar()">
        <li *ngFor="let link of links ">
            <a routerLink="{{link.path}}">{{link.text}}</a></li>
    </ul>

</div>