.travelcard_wrapper {
    background: url(https://images.pexels.com/photos/5138883/pexels-photo-5138883.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    padding: 1rem;
    font-size: xx-large;
    color: white;
}