<div class="container-fluid  d-flex align-items-center flex-column carousel_wrapper">
    <p class="heading">Explore, find and book a Trip around the world with us.</p>
    <div id="carouselExampleIndicators" class="carousel slide w-50" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/india.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/jaipur.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/kerala.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
    <div class="card text-center">
        <div class="card-header">
            <h2>India</h2>
        </div>
        <div class="card-body">
            <p class="card-text">Namaste says India to every people in the world. Book a trip to India trough: Agra, Jaipur and Kerala.</p>
            <h3>899.99€</h3>
            <a href="#" class="btn btn-primary">Book</a>
        </div>
        <div class="card-footer text-muted">
            For 12 Days
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide w-50" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/venice.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/rom.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/italy.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <h2>Italy</h2>
        </div>
        <div class="card-body">

            <p class="card-text">Buongiorno! Want to taste real italian pizza and pasta? Then just book an amazing trip to Italy. <br> A wonderful satisfying and flawless trip trough Rome, Venice and Trieste. Thou Paradise of exiles, Italy!</p>
            <h3>699.99€</h3>
            <a href="#" class="btn btn-primary">Book</a>
        </div>
        <div class="card-footer text-muted">
            For 7 Days
        </div>
    </div>



    <div id="carouselExampleIndicators" class="carousel slide w-50" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/singapur.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/singa.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/singap.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>

    <div class="card text-center">
        <div class="card-header">
            <h2>Singapur</h2>
        </div>
        <div class="card-body">

            <p class="card-text">Book a trip to Uniquely Singapur. Explore Singapur with a really great price</p>
            <h3>999.99€</h3>
            <a href="#" class="btn btn-primary">Book</a>
        </div>
        <div class="card-footer text-muted">
            For 10 Days
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide w-50" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/new york.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/miami.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/lasvegas.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>

    <div class="card text-center">
        <div class="card-header ">
            <h2>America</h2>
        </div>
        <div class="card-body">

            <p class="card-text">Need some adventure? Looking for fun night life? <br> Book a trip to USA, travelling around Miami, New York and obvious the enjoyful city Las Vegas.</p>
            <h3>1099.99€</h3>
            <a href="#" class="btn btn-primary">Book</a>
        </div>
        <div class="card-footer text-muted">
            For 14 Days
        </div>
    </div>

</div>