<div class="wrapper travelcard">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- <div class="carousel-inner" > -->
        <div class="carousel-inner">


            <div [ngClass]="{'active': i === 0}" class="carousel-item" *ngFor="let image of travelobject.images; let i=index">
                <img src="{{image}}" class="d-block w-100 " alt="... ">
                <!-- <img src="assets/img/italy.jpeg " class="d-block w-100 " alt="... "> -->
            </div>

            <button class="carousel-control-prev" type="button " data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden ">Previous</span>
    </button>
            <button class="carousel-control-next" type="button " data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true "></span>
      <span class="visually-hidden">Next</span>
    </button>
        </div>
    </div>
    <div class="card text-center ">
        <div class="card-header ">
            <h2>{{travelobject.name}}</h2>
        </div>
        <div class="card-body ">
            <p class="card-text ">{{travelobject.description}}</p>
            <h3>{{travelobject.price}}</h3>
            <button type="button" (click)="buttonClickedHandler()" class="btn btn-primary ">Book</button>
        </div>
        <div class="card-footer text-muted ">
            {{travelobject.duration}} days
        </div>
    </div>
</div>